// assets/styles/variables.scss
$background-color: #f7f0f5; // color para fondos
$text-color: #433633; // Color para el texto
$accent-color: #DECBB7; // Destaca sobre el fondo sin tanto contraste. Por ejemplo, para botones y enlaces
$secondary-text-color: #8F857D; // Para textos y elementos del menú secundarios
$header-color: #5C5552; // Para elementos del menú y títulos principales